 ::ng-deep .p-dialog .p-dialog-header {
      padding: 1.5rem;
      border-bottom: 1px solid #e5e7eb;
    }
    
    ::ng-deep .p-dialog .p-dialog-content {
      padding: 1.5rem;
      max-height: 70vh;
      overflow-y: auto;
    }